h1{
    color: white;
    position: absolute;
    padding: 0%;
    margin: 0%;
    top: 55%;
    font-size: xx-large;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%); /* Center using transform */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: white;
    position: absolute;
    padding: 0%;
    margin: 0%;
    top: 85%;
    font-size: 250%;
    left: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: white;
    position: absolute;
    padding: 0%;
    margin: 0%;
    top: 113%;
    font-size: x-large;
    left: 10.7%;
    transform: translateX(-10.7%); /* Center using transform */
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    color: white;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -150%);
    font-size: 2vw;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    padding: 0;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(0, 28, 189);
    border-radius: 6px;
}

.navbar li {
    display: inline;
}

.button-container {
    display: flex;
    justify-content: right;
    margin-top: -75px;
}

.button{
    background-color: rgb(0, 17, 255);
    color: white;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    z-index: 2;
}

.button-container1 {
    display: flex;
    justify-content: right;
    margin-top: -75px;
}

.button1{
    background-color: rgb(0, 17, 255);
    color: white;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    z-index: 2;
}

.Play1 {
    background-color: rgb(0, 255, 55);
    color: white;
    font-size: larger;
    margin-top: -10%; /* Adjust as needed */
    padding: 10px 20px;
    margin-left: 24%; /* Adjust as needed */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: absolute;
}

.Play2 {
    background-color: rgb(0, 255, 55);
    color: white;
    font-size: larger;
    margin-top: -10%; /* Adjust as needed */
    padding: 10px 20px;
    margin-left: 48.5%; /* Adjust as needed */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: absolute;
}

.TapPNG{
    src: url("Png.png");
    height: 260px;
    width: 260px;
    position: absolute;
    margin-top: -13.1%;
    margin-left: 30%;
    border-radius: 5%;
}

.img{
    src: url(MDS.png);
    height: 170px;
    width: 1000px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
}

.TapText{
    color: white;
    position: absolute;
    padding: 0%;
    margin: 0%;
    top: 60px;
    top: auto;
    font-size: x-large;
    font-weight: bolder;
    left: 36.5%;
    transform: translate(-10%, -55%);
    font-family: Arial, Helvetica, sans-serif;
}

.box1{
    border: 1px solid;
    background-color: rgb(0, 5, 65);
    margin: 0 auto;
    margin-top: 1.7%;
    padding: 0;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2{
    border: 1px solid;
    background-color: rgba(0, 17, 255, 0.171);
    margin: 0 auto;
    margin-top: 1.9%;
    padding: 0;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3{
    border: 1px solid;
    background-color: rgb(4, 4, 22);
    margin: 0 auto;
    margin-bottom: auto;
    padding: 0;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Capture{
    src: url("Generated.jpg");
    height: 250px;
    width: 250px;
    position: absolute;
    margin-top: -14.5%;
    margin-left: 10%;
    border-radius: 5%;
}

section{
    height: 80vh;
}

.MdsProfile{
    height: 80px;
    width: 80px;
    position: absolute;
    justify-content: center;
    margin-top: -29px;
    margin-left: 10px;
}

.MrDogeProfile{
    height: 80px;
    width: 80px;
    position: absolute;
    justify-content: center;
    margin-top: -29px;
    margin-left: 10px;
}

.MrDogeProfile2{
    height: 80px;
    width: 80px;
    position: absolute;
    justify-content: center;
    margin-top: -29px;
    margin-left: 10px;
}


.button {
    background-color: rgb(0, 17, 255);
    color: white;
    border-radius: 6px;
    padding: auto;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    display: flex;
    justify-content: right;
    margin-top: -75px;
    margin-left: 95%;
}

.YoutubePic{
    background-color: transparent;
    width: 50px;
    height: 30px;
    margin-top: 0px;
    image-resolution: 1080p;
    padding: 20px;
}

.DiscordPic{
    background-color: transparent;
    width: 45px;
    height: 35px;
    margin-top: 0px;
    image-resolution: 1080p;
    padding: 20px;
}

.InstagramPic{
    background-color: transparent;
    width: 40px;
    height: 40px;
    margin-top: 0px;
    image-resolution: 1080p;
    padding: 20px;
    border-radius: 6px;
}

.GuildedPic{
    background-color: transparent;
    width: 40px;
    height: 40px;
    margin-top: 0px;
    image-resolution: 1080p;
    padding: 20px;
    border-radius: 20px;
}

.MDsHoodies{
    display: flex;
    justify-content: center;
    align-items: center;
}

.MDSBlue{
    background-color: transparent;
    width: 250px;
    height: 230px;
    margin-top: 20px;
    image-resolution: 1080p;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    margin-left: 220px;
    
}

.MDSRed{
    background-color: transparent;
    width: 250px;
    height: 230px;
    margin-top: -125px;
    image-resolution: 1080p;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 400px;
}

.MDSBlack{
    background-color: transparent;
    width: 250px;
    height: 230px;
    margin-top: -195.6px;
    image-resolution: 1080p;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    margin-left: 570px;
}

.MDSPink{
    background-color: transparent;
    width: 250px;
    height: 230px;
    margin-top: -60px;
    image-resolution: 1080p;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    margin-left: 220px;
}

.MDSGreen{
    background-color: transparent;
    width: 250px;
    height: 230px;
    margin-top: -165px;
    image-resolution: 1080p;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    margin-left: 400px;
}

.BlueText{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-left: 46%;
    margin-top: -3%;
}

.RedText{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-left: 62%;
    margin-top: -3%;
}

.BlackText{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-left: 70%;
    margin-top: -2%;
}

.PinkText{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-left: 46%;
    margin-top: -3%;
}

.GreenText{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-left: 62%;
    margin-top: -3%;
}

.BluePrice{
    color: rgb(0, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    margin-left: 0%;
    margin-top: -5%;
}

.RedPrice{
    color: rgb(0, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    margin-left: 0%;
    margin-top: -6%;
}

.BlackPrice{
    color: rgb(0, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    margin-left: 0%;
    margin-top: -6%;
}

.PinkPrice{
    color: rgb(0, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    margin-left: 0%;
    margin-top: -6%;
}

.GreenPrice{
    color: rgb(0, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    margin-left: 0%;
    margin-top: -6%;
}

.button-container2 {
    display: flex;
    justify-content: right;
    margin-top: -75px;
}

.button2{
    background-color: rgb(0, 17, 255);
    color: white;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    z-index: 2;
}

.ContactContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ContactLeft{
    gap: 40px;
    flex-direction: column;
}

input[type=email]{
    position: absolute;
    height: 40px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    display: block;
    justify-content: center;
    margin-top: 14%;
    margin-left: 20%;
    border-radius: 6px;
}

input[type=tel]{
    position: absolute;
    height: 40px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    display: block;
    justify-content: center;
    margin-top: 17%;
    margin-left: 20%;
    border-radius: 6px;
}

input[type=text], textarea {
    position: absolute;
    height: 200px;
    width: 450px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    margin-top: 20%;
    margin-left: 20%;
    border-radius: 6px;
}

input[type=submit]{
    height: 50px;
    width: 100px;
    background-color: rgb(0, 255, 34);
    border-radius: 6px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    position: absolute;
    margin-left: 20%;
    margin-top: 32%;
}

.ContactTitle h1{
    position: absolute;
    color: white;
    font-size: xx-large;
    margin-left: -24%;
    margin-top: -13%;
}

.Underline{
    border: 1px solid;
    height: 8px;
    width: 200px;
    background-color: rgb(0, 17, 255);
    margin-top: 12%;
    margin-left: 20.9%;
}

.MDSWave{
    src: url(capsss.png);
    position: absolute;
    margin-top: -5%;
    margin-left: 55%;
}

@media screen and (max-width: 600px){

    .navbar ul {
        list-style-type: none;
        background-color: rgb(0, 0, 0);
        margin: 0 auto;
        padding: 0;
        height: 60px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar a{
        color: white;
        text-decoration: none;
        padding: 10px;
        font-size: larger;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        margin-top: -50px;
    }

    .button{
        background-color: rgb(0, 17, 255);
        color: white;
        border-radius: 6px;
        padding: 5px 10px;
        font-size: 10px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        z-index: 2;
        bottom: 100%;
    }

    .button-container{
        display: flex;
        justify-content: right;
        margin-top: -40px;
    }

    .img{
        src: url("MDS.png");
        position: absolute;
        display: block;
        margin-top: -33%;
        margin-left: 0%;
        height: 60px;
        width: 280px;
        justify-content: center;
        align-items: center;
    
    }

    h1{
        color: white;
        position: absolute;
        padding: 0%;
        margin: 0%;
        top: 31%;
        font-size: 150%;
        left: 50%;
        transform: translateX(-50%); /* Center using transform */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .box1{
        border: 1px solid;
        background-color: rgb(14, 14, 104);
        margin: 0 auto;
        margin-top: 4.5%;
        padding: 0;
        height: 150px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .MdsProfile{
        src: url("MdsProfile.png");
        height: 40px;
        width: 40px;
        position: absolute;
        justify-content: center;
        margin-top: 0px;
        margin-left: 5px;
    }

    .MrDogeProfile2{
        height: 40px;
        width: 40px;
        position: absolute;
        justify-content: center;
        margin-top: 10px;
        margin-left: 5px;
    }
    
    h2{
        color: white;
        position: absolute;
        padding: 0%;
        margin: 0%;
        top: 82%;
        font-size: x-large;
        left: 1%;
        transform: translateX(-1%); /* Center using transform */
        font-family: Arial, Helvetica, sans-serif;
    }

    .Capture{
        src: url("Generated.jpg");
        height: 150px;
        width: 150px;
        position: absolute;
        margin-top: -52%;
        margin-left: 10%;
        border-radius: 5%;
    }

    .TapPNG{
        src: url("Png.png");
        height: 150px;
        width: 150px;
        position: absolute;
        margin-top: -38%;
        margin-left: 40%;
        border-radius: 5%;
    }

    .Play1{
        background-color: rgb(0, 255, 55);
        color: white;
        font-size: larger;
        margin-top: -42px;
        padding: 5px 10px;
        margin-left: 21%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border-radius: 10px;
        text-align: center;
        justify-content: center;
        display: flex;
        position: absolute;
    }

    h3{
        color: white;
        position: absolute;
        padding: 0%;
        margin: 0%;
        top: 107%;
        font-size: medium;
        left: 10.7%;
        transform: translateX(-10.7%); /* Center using transform */
        font-family: Arial, Helvetica, sans-serif;
    }

    .TapText{
        color: white;
        position: absolute;
        padding: 0%;
        margin: 0%;
        top: 105.5%;
        font-size: medium;
        font-weight: bolder;
        left: 60%;
        transform: translateX(-10.7%); /* Center using transform */
        font-family: Arial, Helvetica, sans-serif;
    }

    .Play2{
        background-color: rgb(0, 255, 55);
        color: white;
        font-size: larger;
        margin-top: -42px;
        padding: 5px 10px;
        margin-left: 66%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border-radius: 10px;
        text-align: center;
        justify-content: center;
        display: flex;
        position: absolute;
    }

    .FollowMe{
        color: white;
        position: absolute;
        padding: 0%;
        margin: 0%;
        margin-top: -92%;
        font-size: x-large;
        font-weight: bold;
        left: 50%;
        transform: translateX(-50%); /* Center using transform */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .MDSBlue{
        background-color: transparent;
        width: 116px;
        height: 100px;
        margin-top: 20px;
        image-resolution: 1080p;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 20px;
        margin-left: 15px;
        
    }
    
    .MDSRed{
        background-color: transparent;
        width: 116px;
        height: 100px;
        margin-top: -60px;
        image-resolution: 1080p;
        padding: 20px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-left: 100px;
    }
    
    .MDSBlack{
        background-color: transparent;
        width: 116px;
        height: 100px;
        margin-top: 0px;
        image-resolution: 1080p;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 20px;
        margin-left: 15px;
    }
    
    .MDSPink{
        background-color: transparent;
        width: 116px;
        height: 100px;
        margin-top: -70px;
        image-resolution: 1080p;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 20px;
        margin-left: 100px;
    }
    
    .MDSGreen{
        background-color: transparent;
        width: 116px;
        height: 100px;
        margin-top: -10px;
        image-resolution: 1080p;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 20px;
        margin-left: 15px;
    }

    .BlueText{
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        font-weight: bold;
        margin-left: 8%;
        margin-top: -10%;
    }
    
    .RedText{
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        font-weight: bold;
        margin-left: 48%;
        margin-top: -8%;
    }
    
    .BlackText{
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        font-weight: bold;
        margin-left: 10%;
        margin-top: -12%;
    }
    
    .PinkText{
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        font-weight: bold;
        margin-left: 46%;
        margin-top: -7%;
    }
    
    .GreenText{
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        font-weight: bold;
        margin-left: 10%;
        margin-top: -10%;
    }

    .BluePrice{
        color: rgb(0, 255, 0);
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
        font-weight: bold;
        margin-left: 0%;
        margin-top: -15%;
    }
    
    .RedPrice{
        color: rgb(0, 255, 0);
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
        font-weight: bold;
        margin-left: 0%;
        margin-top: -15%;
    }
    
    .BlackPrice{
        color: rgb(0, 255, 0);
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
        font-weight: bold;
        margin-left: 0%;
        margin-top: -15%;
    }
    
    .PinkPrice{
        color: rgb(0, 255, 0);
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
        font-weight: bold;
        margin-left: 0%;
        margin-top: -15%;
    }
    
    .GreenPrice{
        color: rgb(0, 255, 0);
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
        font-weight: bold;
        margin-left: 0%;
        margin-top: -15%;
    }

    .button1{
        background-color: rgb(0, 17, 255);
        color: white;
        border-radius: 6px;
        padding: 5px 10px;
        font-size: 10px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        z-index: 2;
        bottom: 100%;
    }

    .button-container1{
        display: flex;
        justify-content: right;
        margin-top: -40px;
    }

    .button2{
        background-color: rgb(0, 17, 255);
        color: white;
        border-radius: 6px;
        padding: 5px 10px;
        font-size: 10px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        z-index: 2;
        bottom: 100%;
    }

    .button-container2{
        display: flex;
        justify-content: right;
        margin-top: -40px;
    }

    input[type=email]{
        position: absolute;
        height: 30px;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: black;
        display: block;
        justify-content: center;
        margin-top: 70%;
        margin-left: 20%;
        border-radius: 6px;
    }
    
    input[type=tel]{
        position: absolute;
        height: 30px;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: black;
        display: block;
        justify-content: center;
        margin-top: 80%;
        margin-left: 20%;
        border-radius: 6px;
    }
    
    input[type=text], textarea {
        position: absolute;
        height: 150px;
        width: 225px;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: black;
        margin-top: 90%;
        margin-left: 20%;
        border-radius: 6px;
    }
    
    input[type=submit]{
        height: 40px;
        width: 70px;
        background-color: rgb(0, 255, 34);
        border-radius: 6px;
        font-size: small;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: rgb(0, 0, 0);
        position: absolute;
        margin-left: 20%;
        margin-top: 130%;
    }
    
    .ContactTitle h1{
        position: absolute;
        color: white;
        font-size: x-large;
        margin-left: -10%;
        margin-top: -0%;
    }

    .Underline{
        border: 1px solid;
        height: 5px;
        width: 160px;
        background-color: rgb(0, 17, 255);
        margin-top: 60%;
        margin-left: 20.9%;
    }

    .MDSWave{
        src: url(capsss.png);
        height: 200px;
        width: 160px;
        position: absolute;
        margin-top: 75%;
        margin-left: 32%;
    }

    h4 {
        color: white;
        position: absolute;
        padding: 0;
        margin: 0;
        top: 150%;
        left: 50%;
        transform: translate(-50%, -150%);
        font-size: x-large;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

}